// 1 - Tools
@import '1-tools/toast';
@import '1-tools/normalize';
@import '1-tools/juice';

// 2 - Globals

@import '2-global/functions';
@import '2-global/mixins';
@import '2-global/vars';
@import '2-global/extends';
@import '2-global/body-element';
@import '2-global/typography';
@import '2-global/buttons';
@import '2-global/keyframes';
@import '2-global/vue-transitions';
@import '2-global/loaders';
@import '2-global/fonts';

// 3 - Modules
// @import '3-modules/index/header';


// 4 - pages
@import '4-pages/index';
