.content {
  padding-top: 7rem;
  .row {
    margin-left: 2rem;
    .col {
      margin-right: 0;
    }
  }
  .hotels{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  div.hotel{
    @include card(1);
    background-color: white;
    width: calc(33.333333% - 2.5rem);
    padding: 1rem;
    margin-bottom: 1rem;
    header{
      img{
        width: 100%;
      }
    }
    a{
      color: $primary;
      text-decoration: none;
      h3 {
        margin-top: 0;
      }
    }
  }
  .rejector {
    ul {
      margin: 0;
      display: inline-block;
      padding-left: 0;
      li {
        text-decoration: none;
        display: inline-block;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        border-radius: 0.125rem;
        background-color: #f2f2f2;
      }
    }
  }
  .material-icons {
    float: right;
    i {
      font-size: 3rem;
      margin-top: 3rem;
      cursor: pointer;
    }
  }
  hr {
    // margin-bottom: 2rem;
    // margin-left: 2rem;
  }
}

#reserva{
  padding-top: 105px;
  .banner{
    height: 450px;
    margin-bottom: 1rem;
    position: relative;
    .content{
      width: 100%;
      bottom: 0;
      position: absolute;
      background: #f2f2f2;
      padding-top: 0;
      padding: 1rem 0;
      .wrapper{
        h2{
          margin-top: 0;
        }
        p{
          margin-bottom: 0;
        }
      }
    }
  }
  .room{
    header{
      img{
        width: 100%;
      }
    }
    a{
      color: $primary;
      text-decoration: none;
      h4{
        margin-top: 0;
      }
    }
  }
  .cols{
    flex-wrap: wrap;
    justify-content: space-between;
    .col{
      padding-left: 0;
      @include card(1);
      background-color: white;
      // width: 33.3333333%;
      width: calc(33.333333% - 0.5rem);
      margin-bottom: 1rem;
      .body{
        padding: 1rem;
      }
    }
  }
}

