#home {
  height: 100%;
}
.homeContent {
  .boxChoose {
    max-height: 75vh;
    width: 40%;
    padding: 1rem;
    border-radius: 0.25rem;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f2f2f2;
  }
}
