  #reservaquarto {
    min-height: 100vh;
  }
  .col_area {
    width: 85%;
    padding-left: 10rem;
  }

  .col_cadastro {
    display: inline-block;
    margin-top: 10rem;
  }

  .col_login {
    display: inline-block;
    margin-top: 10rem;
  }
  .cadastro {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:100%;
    border: 1px solid;
    height: 65vh;
    h4 {
      text-align: center;
      padding: 90px 90px 0px 90px;
      text-transform: uppercase;
    }
    h5 {
      text-align: center;
      padding-top: 20px;
      text-transform: uppercase;
    }
    button {
      margin-top: 3.5rem;
      margin-left: 3rem;
      width:75%;
      background-color: black;
    }
  }

  .login {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    float: right;
    border: 1px solid;
    border-radius: .5rem;
    height: 65vh;
    h4 {
      text-align: center;
      padding: 10px;
      text-transform: uppercase;
    }
    input {
      width: 90%;
      height: 7vh;
      margin-bottom: .5rem;
      border-radius:0.125rem;
      margin-left: 10px;
    }
    label {
      margin-left: 10px;
      font-weight: bold;
    }
    button {
      margin-top: 3rem;
      margin-left: 3rem;
      width:75%;
      background-color: black;
    }
  }
