.top {
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: #f2f2f2;
  .logo {
    img {
      margin-top: 1rem;
      margin-bottom: 1rem;
      float: left;
      width: 100px;
    }
  }
}

.headerContent {
  height: cacl(100vh - 10vh);
  padding-top: 10rem;

  h1 {
    padding-top: 0;
    margin: 0;
  }
}

.links {
  background-color: #f2f2f2;
  border-radius: 0.4rem;
  display: inline-block;
  float: right;
  width: 90%;
  margin-top: 0.5rem;
  li {
    margin-top: 0.5rem;
    margin-left: 1.5em;
    text-decoration: none;
    display: inline;
    float: right;
    font-size: 1.3em;
    color: black;
    cursor: pointer;
  }
  .cidade {
    position: absolute;
    left: 15rem;
  }
}
