#reservation{
  .wrapper{
    h2{
      margin-top: 0;
    }
    img{
      width: 100%;
    }
  }
  #bookingInfo{
    background: #f2f2f2;
    @include card(1);
    border: 1px solid #ededed;
    min-width: 40%;
    h4{
      margin: 0;
      font-weight: 400;
      font-size: 1.5em;
    }
    button{
      margin-top: 1rem;
      width: auto;
      font-size: 1em;
    }
  }
  .col{
    padding: 1rem;
  }
}
