#reservation {
  min-height: 100vh;

}
.coluna_details {
  display: inline-block;

  .detailsRoom {
    margin-top: 10rem;
    p {
      text-align: justify;
    }
  }
}

.coluna_price {
  display: inline;
}

.list {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid;
  border-radius: .4rem;
  float: right;
  margin-top: 12rem;
  margin-right: 5rem;

  h4 {
    margin: 3rem 2rem 3rem 1rem;
  }

  h4:nth-child(1){
    margin-top: 4rem;
  }
  h4:nth-child(3){
    margin-bottom: 4rem;
  }
}

.buttons_reserve {
  button {
    float: right;
    width: 30%;
    // margin-right: 11rem;
    // margin-top: 2rem;
    padding-right: 2rem;
    background-color: blue;
    cursor: pointer;
  }
}
