// #reservation {
//   min-height: 100vh;
//
// }
// .detailsRoom {
//   height: 460px;
//   position: relative;
//   padding-top: 4rem;
// }
// .contentRoom {
//   position: absolute;
//   margin-top: 30rem;
// }
//
// .coluna_price {
//   display: inline;
// }
//
// .list {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//   border: 1px solid;
//   border-radius: .4rem;
//   float: right;
//   margin-top: 2rem;
//   margin-right: 5rem;
//
//   h4 {
//     margin: 3rem 2rem 3rem 1rem;
//   }
//
//   h4:nth-child(1){
//     margin-top: 4rem;
//   }
//   h4:nth-child(3){
//     margin-bottom: 4rem;
//   }
// }
//
// .buttons_reserve {
//   button {
//     float: right;
//     width: 30%;
//     padding-right: 2rem;
//     background-color: blue;
//     cursor: pointer;
//   }
// }
#reservation{
  .wrapper{
    h2{
      margin-top: 0;
    }
    img{
      width: 100%;
    }
  }
  #bookingInfo{
    background: #f2f2f2;
    @include card(1);
    border: 1px solid #ededed;
    min-width: 40%;
    h4{
      margin: 0;
      font-weight: 400;
      font-size: 1.5em;
    }
    button{
      margin-top: 1rem;
      width: auto;
      font-size: 1em;
    }
  }
  .col{
    padding: 1rem;
  }
}
