#app {
  height: 100%;
}

html {
  height: 100%;
}
body{
  background: white;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
