.btn, button{
  background: pink;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  @include card(1);
  font-size: 1.3em;
  text-decoration: none;
  transition: box-shadow 0.3s ease-in-out;
  display: inline-block;
  &.__round{
    border-radius: 0.5rem;
  }
  &:hover{
    @include card(2);
  }
}
